<div class="container w-50">
  <div class="title-box">
    <h1><%= @task.title %></h1>
    <%= button_to "Edit this task", edit_task_path, method: :get%>
  </div>
  <div class="detail-box">
    <%= @task.details %>
  </div>
    <br>
    <% if @task.completed == true %>
          <p><%= check_box_tag(@task.title, @task.details, true) %>
          <%= "Task is completed" %></p>
    <% else %>
          <p><%= check_box_tag(@task.title, @task.details, @task.completed) %>
          <%= "Task is not completed yet" %></p>
    <% end %>
    <hr>
    <p><%= link_to "Back to task list", tasks_path %></p>
</div>

